@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Prompt:wght@900&Raleway:ital,wght@0,800;1,200&family=Courgette&display=swap');

a {
  color:rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

a:hover {  
  text-decoration: none;
}

a:hover {
  color: #cc4a55d3;
}
a:active {
  color:  #5c8408; 
}

body {
  background-color: #FFF7EA;
  height: auto;
  background-repeat: no-repeat;
  height: 100%;
}

p {  
  font-family: 'Raleway', sans-serif;
  color: #221E22;
}